mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/sprite.svg#" + name)

mixin button(title,link,mod,icon)
	- mod = mod || 'regular'
	a(class="button button-" + mod, href=link) #{title} 
		if icon
			span.button__small-fa-icon
				i(class="fas " + icon)

//- footer-menu
//-------------
mixin menu(menu)
	ul.menu
		each link in menu    
			li
				a(href=link.href)=link.linkName

//- footer-icon
//-------------
mixin footer-icons
	ul.footer-icons
		each item, index in ['vk','twitter','youtube-square', 'instagram', 'facebook-f']
			li
				a(href="#")
					i(class="fab fa-" +item)


mixin comment-info(avatar,user_name,date,text)
	.comment
		img.user_avatar(src=avatar)
		.comment__info
			.comment__user_name #{user_name}
			.comment__date 
				i.fa.fa-clock-o
				|   #{date}
			.comment__text #{text}
			