extends layouts/ui-layout.pug

block variables
	-	var title = 'Данные из JSON файла'
	- var pageClass = 'footer-page'
	
mixin card-json(img_src,card_title,link)
	+card-avia(img_src,card_title,link,"Купить", "post")

mixin card-avia(img_src, card_title, link, button_title, mod)
	div(class="card card-" + mod)
		img(class="card__img card-" + mod +"__img", src= img_src)
		h2.card__title #{card_title}
		p Цена: 1 734
		+button(button_title,link)

					
block content
	section.json 
		.container
			.row
				.col
				.col-10
					h1 Данные из JSON файла
					p Всем кто хочет попрактиковаться в работе с данными из json, я подготовил шаблон этой странице. В проекте я добавил json-файл с направлениями авиаперелетов перелетов (app/date/menu.json). 
					p Вам нужно:
					ol
						li 
							b Подключение
							p В сборку этого проекта уже подключен плагин 
								a(href="https://www.npmjs.com/package/gulp-data") "gulp-data" 
								| который подключает файл с данными и плагин fs который преоразовывает json в массив. В файле конфигурации проекта gulpfile.js уже подключен json файл в таксе "pug".
								br
							
						li
							b Выводим данные в шаблон
							p Данные из файла находяться в глобальной области видимости, поэтому вы можете обращаться к данным из любого файла в проекте. Например, что бы получить количество авианаправлений из файла, можно так 
								i \#{menu.fly.length} 
							p Кол-во направлений — 
								i.json__date #{menu.fly.length}
							p Первое направление в списке 
								i \#{menu.fly[0].flyIn} - \#{menu.fly[0].flyOut} - Цена билета \#{menu.fly[0].price}
							p.json__date #{menu.fly[0].flyIn} - #{menu.fly[0].flyOut} - Цена билета #{menu.fly[0].price}								
												
						li 
							b Выводим данные в шаблон
							p Задание вывести в цикле все направления в нашем шаблоне "card" подставляя данные из json файла		 					
				.col
		.container
			.row
				.col-md-6.col-xl-4
					+card-json("https://static.city.travel/spec/275/KLF.jpg","Москва-Калуга","https://new.city.travel/to/city/KLF/OW/0/0/0?from=MOW&utm_source=city.travel&utm_medium=email&utm_campaign=promo-17-02&utm_content=MOW&partner=email", "Купить")
				.col-md-6.col-xl-4
					+card-json("https://static.city.travel/spec/275/KLF.jpg","Москва-Калуга","https://new.city.travel/to/city/KLF/OW/0/0/0?from=MOW&utm_source=city.travel&utm_medium=email&utm_campaign=promo-17-02&utm_content=MOW&partner=email", "Купить")
				.col-md-6.col-xl-4
					+card-json("https://static.city.travel/spec/275/KLF.jpg","Москва-Калуга","https://new.city.travel/to/city/KLF/OW/0/0/0?from=MOW&utm_source=city.travel&utm_medium=email&utm_campaign=promo-17-02&utm_content=MOW&partner=email", "Купить")

	

